body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgb(15, 33, 25);
  font-family: futura;
  color: #ddd;
}

.card {
  position: relative;
  width: 500px;
  border-radius: 4px;
  background: rgb(89, 99, 93);

  margin: 25px auto;
  padding: 20px;
}
.show-button,
.delete,
.edit {
  border: none;
  padding: 8px;
  border-radius: 4px;
}
.show-button:hover,
.delete:hover,
.edit:hover {
  transform: scale(1.09);
}
.show-button:active,
.delete:active,
.edit:active {
  transform: scale(0.9);
}

.delete {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgb(230, 43, 43);
  color: #eee;
  font-weight: bolder;
  font-size: 0.8rem;
}

.answer {
  font-family: monospace;
  font-size: 1.1rem;
}

.form {
  display: grid;
  margin: 20px auto;
  padding: 30px;
  width: 500px;
  gap: 10px;
  border-radius: 4px;
  background: rgb(89, 99, 93);
}

.form > input {
  background: #eee;
  height: 2rem;
  border: none;
}
.form > button {
  width: 100px;
  margin: 10px auto;
  border: none;
  border-radius: 4px;
  background: #eee;
  height: 20px;
  font-family: futura;
}

.form > button:hover {
  background: #ccc;
}
